@import "variables.css";

.chapterContainer{
    width: 100vmin;
    height: 100vmax;
    overflow: scroll;
}

.chapterContainer h2{
    text-align:center;padding:.5rem;color:var(--gray-light);
}

.chapterList:hover{
    background:var(--gray-lighter);
}

.chapterList{
    display: flex;
    justify-content: space-between;
    padding: .3rem 1.5rem .3rem .3rem;
    border-bottom:1px solid var(--gray-lighter);
    align-items: center;
}

.chapterList span{
    padding:.3rem;
}
.chapterList a{
    width:80%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color:var(--gray-dark);
}
.chapterList a:link{
    color:var(--gray-light);
}

.chapterList a:visited{
    color:var(--brand-info);
}

.chapterList a:hover{
    color:var(--brand-primary);
}

.chapterList a:active{
    color:var(--brand-success);
}

.limessage{
    width:3rem;
}

















