.mainContent {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 56px;
    overflow: auto;
}

.lunbo {
    width: 100%;
    height: 4rem;
    border: 1px solid var(--brand-info);
}

.lunbo img {
    width: 100%;
    height: 100%;
}

.nav {
    width: 100%;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    margin-top: .25rem;
    border-bottom: .75rem solid var(--gray-lighter);
}

.nav li {
    padding: .5rem;
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.type {
    display: block;
    padding-right: .5rem;
}


.mainRecommend {
    display: flex;
    justify-content:space-between;
    padding:.25rem .5rem;
}

.recommendList{
    border-top:.5rem solid var(--gray-lighter);
    display: flex;
    cursor:pointer;
}

.liLeft{
    padding:.5rem;
}

.liLeft img{width:5rem;height:100%;}
.liRight{
    width: 100%;
    padding:.5rem;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-content:space-between;
}

.liRight h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:var(--gray);
    font-weight: 400;
}

.liRight p{ 
    font-size: .75rem;
    color:var(--gray-light);
    width:100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    overflow: hidden;
    margin:.5rem 0;
}

.liBottom{
    display:flex;color:var(--gray-light);
    justify-content: space-between;
    margin-top:1rem;
}
.mySubTitle{
    padding-right:.5rem;
}

.justifyStart{
    justify-content:flex-start;
}

.footer{
    position: absolute;
    bottom:0;
    width: 100%;
}






