/*不加 .／ 会报错*/
@import './variables.css';

html,body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: var(--font-size-root);
    /*max-width:640px;    !* 设置最大宽度 *!*/
    /*min-width:320px;    !* 设置最小宽度 *!*/
    overflow:hidden;
}

body {
    font-family: var(--font-family-base);
    background-color: var(--body-bg);
    font-size: var(--font-size-base);
    line-height: var(--line-height);
    color: var(--body-color);
    background-color: var(--body-bg);
}

p, h1, h2, h3, h4 {
    margin: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:active {
    color: var(--link-hover-color);
    text-decoration: none;
}

input:active{outline:none}

button:focus, input[type="button"]:focus, input[type="submit"]:focus, textarea:focus {
    outline:none;
}

a,button,input,optgroup,select,textarea
{
    -webkit-tap-highlight-color:rgba(0,0,0,0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}

a,
img {
    -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}


img {
    vertical-align: middle;
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}


hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 0;
}

.clearfixed:after{
    display: table;
    content: ' ';
    clear:both;
    height:0;
}
.clearfixed{
    *zoom: 1;
}