@font-face {
    font-family: 'iconfont';  /* project id 171258 */
    src: url('//at.alicdn.com/t/font_3p1i364xmy22o6r.eot');
    src: url('//at.alicdn.com/t/font_3p1i364xmy22o6r.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_3p1i364xmy22o6r.woff') format('woff'),
    url('//at.alicdn.com/t/font_3p1i364xmy22o6r.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_3p1i364xmy22o6r.svg#iconfont') format('svg');
}

@import url("//at.alicdn.com/t/font_3p1i364xmy22o6r.css");

.iconfont.icon-sousu{
    font-size:1.5rem !important;
    color:white !important;
}

.iconfont.icon-shanchu{
    font-size: 1rem !important;
}