@font-face {
    font-family: 'iconfont';  /* project id 171258 */
    src: url('//at.alicdn.com/t/font_3qxnlu179mg0t3xr.eot');
    src: url('//at.alicdn.com/t/font_3qxnlu179mg0t3xr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_3qxnlu179mg0t3xr.woff') format('woff'),
    url('//at.alicdn.com/t/font_3qxnlu179mg0t3xr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_3qxnlu179mg0t3xr.svg#iconfont') format('svg');
}

@import url("//at.alicdn.com/t/font_3qxnlu179mg0t3xr.css");

.iconfont{
    font-size:1.5rem !important;
}
